@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/functions";

$row-width: 1000px;
$total-columns: 12 !default;

//
// Grid Functions
@function grid-calc($colNumber, $totalColumns) {
  @return percentage(($colNumber / $totalColumns));
}

@mixin grid-column($columns: false, $last-column: false, $center: false, $offset: false, $push: false, $pull: false, $collapse: false, $float: true, $position: false) {
  @if $collapse {
    padding-left: 0;
    padding-right: 0;
  }
  @if $columns {
    width: grid-calc($columns, $total-columns);
  }

}

@mixin grid-html-classes($size) {
  @for $i from 1 through $total-columns {
    .#{$size}-#{$i} {
      @include grid-column($columns: $i, $collapse: null, $float: false);
    }
  }
}

@include exports("grid") {
  .row{
    width: $row-width;
  }
  .column,
  .columns {
    float: left;
    display: inline;
  }
  @include grid-html-classes($size: large);
  @include grid-html-classes($size: small);

}

.circle-steps{
  padding:10px 0;
  height: 60px;
}