#ffc-loader {
    z-index: 99;
    position: fixed;
    opacity: .3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-image: url('http://static.donebynone.com/images/ffc/l1.gif');
    background-size: 100px 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fffafa
}

#friend-connection {
    background: #5b6986 !important;
    border: solid 2px #3d5483
}



#friend-connection .image-cont * {
    line-height: 100%
}

#friend-connection .image-cont {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background: url('http://static.donebynone.com/images/ffc/body-bg.jpg') repeat
}

#friend-connection .image-cont h1 {
    font: bold 40px/30px Tahoma, Geneva, sans-serif !important
}

#friend-connection .image-cont h3 {
    font: bold 30px/40px Tahoma, Geneva, sans-serif !important
}

#friend-connection .image-cont h4 {
    font: bold 25px/35px Tahoma, Geneva, sans-serif !important
}

.page-title, .page-title1 {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    padding: 0
}

.page-title1 {
    max-width: 600px
}

#friend-connection .progress-bar {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    padding: 10px 0
}

.code-desc {
    text-align: center;
    text-transform: uppercase;
    color: #e7ed07;
    padding: 20px 0 0 0;
    max-width: 90%;
    margin: 0 auto
}

.code-desc1 {
    text-align: center;
    text-transform: uppercase;
    color: #e7ed07;
    padding: 0
}

.used-code1 {
    text-transform: uppercase;
    color: #e7ed07;
    font: bold 25px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
}
.used-code2 {
    text-transform: uppercase;
    color: #e7ed07;
    font: bold 20px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    padding-bottom: 40px
}

.equal2sign {
    font: 800 80px/60px Tahoma;
    top: 100px;
    left: 60%
}

.used-code {
    text-transform: uppercase;
    color: #e7ed07;
    font: bold 30px/40px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    padding-bottom: 15px
}

#friend-connection .font-43 {
    font: bold 43px/43px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial
}
#friend-connection .font-18 {
    font: bold 28px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial !important;
    color: #fff
}
#friend-connection .font-23 {
    font: bold 23px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    color: #fff
}
#friend-connection .font-33 {
    font: bold 33px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    color: #fff
}
.update-disc {
    color: #47f4d6;
    text-align: center;
    text-transform: uppercase;
    font: bold 24px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial
}
.update-disc2 {
    color: #47f4d6;
    text-align: center;
    text-transform: uppercase;
    font: bold 18px/30px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial !important
}

#friend-connection a.shop-now small {
    font-size: 16px
}

#friend-connection a.shop-now, #friend-connection .shop-now {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    background: #f9994b;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 165px;
    padding: 10px 15px;
    text-decoration: none;
    font: bold 23px/50px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    cursor:default
}

#friend-connection .orange-bg {
    background: #f9994b;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
    font: bold 23px/45px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    max-width: 700px;
    margin: 0 auto;
    position: relative !important;
    top: 0 !important;
    right: 0 !important
}

#friend-connection .pdlr-20 {
    padding-left: 20px;
    padding-right: 20px
}

.align-center {
    text-align: center
}

#friend-connection .hide {
    display: none
}

.like {
    max-width: 560px;
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center
}

.smallicon {
    max-width: 25px !important;
    display: inline-block;
    verticle-align: middle
}

.get-ur-disc {
    font:bold 42px/40px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    border-top: 5px solid #e6ec07;
    border-bottom: 5px solid #e6ec07;
    max-width: 565px;
    text-align: center;
    padding: 8px 0;
    margin: 0 auto;
    color: #fff
}

.fb-like {
    max-width:200px;
    margin:0 auto;
    text-align: center
}

.fb_iframe_widget {
    display: block !important
}

.code-bg {
    background: url('http://static.donebynone.com/images/ffc/code-bg.png') no-repeat left top;
    width: 166px;
    font-size: 23px;
    text-align: center;
    padding: 13px 15px;
    color: #fff;
    display: inline-block;
    verticle-align: middle
}
.valign-middle{
    display:inline-block;
    vertical-align:middle
}
.valign-super{
    display:inline-block;
    vertical-align:super
}
.valid {
    color:#fff;
    font-size: 12px;
    right: 12%;
    text-transform: none;
    top: 89%
}

.disc-calc {
    max-width: 750px;
    margin: 0 auto
}

.ques {
    padding-left:25px
}

.bullet {
    background: url('http://static.donebynone.com/images/ffc/bullet.png') no-repeat 0px top;
    width: 14px;
    height: 17px;
    vertical-align: middle;
    position: absolute
}

.ques-head {
    padding-left: 30px;
    font: 400 17px Tahoma, 'Sans Serif', 'Helvetica Neue', Helvetica, Arial;
    color: #fff
}

.ans {
    font-size: 20px;
    color: #47f4d6;
    padding-left: 55px
}

.padd-top-btm50 {
    padding: 50px 0
}

.padd-top-btm15 {
    padding: 15px 0
}

.padd-top-btm5 {
    padding: 5px 10px
}

.padd-top50 {
    padding-top: 50px
}

.padd-top100 {
    padding-top: 100px
}

.padd-btm100 {
    padding-bottom: 100px
}

.padd-btm20 {
    padding-bottom: 20px
}

.padd-btm30 {
    padding-bottom: 30px
}

.ml-30 {
    margin-left: 30px
}

.how-it-work {
    color: #f9994b;
    font-size: 14px;
    text-decoration: underline
}

.text-underline {
    text-decoration: underline
}

a.shop-now img {
    vertical-align: middle
}

#friend-connection p {
    font-size: 14px
}

.lt-blue {
    color: #47f4d6
}

#friend-connection .white {
    color: #fff !important
}

#friend-connection .yellow {
    color: #e7ed07 !important
}
#friend-connection .align-left{
    text-align: left !important;
}
.perc {
    margin: 0 auto;
    max-width: 500px;
    padding-left: 93px;
}

.float-left {
    float: left !important;
    text-align: right
}

.float-right {
    float: right !important;
    text-align: left
}

.perc .float-left {
    width: 39.5%
}

.perc .float-right {
    width: 58.5%
}

.terms-cond {
    padding: 25px 0
}

.terms-cond li {
    margin-left: 30px;
    padding: 5px 0 5px 15px;
    font-size: 18px;
    color: #47f4d6
}

.ans a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    color: #e7ed07 !important;
    padding-left: 30px
}

.chk {
    padding: 10px 0 5px;
    font: bold 20px/20px Tahoma;
    color: #47f4d6
}

.chk img {
    vertical-align: middle;
    margin-left: 30px;
    margin-bottom: 5px
}

.width-176 {
    display: inline-block;
    max-width: 176px
}

#invite_referral_inline_widget {
    position: absolute;
    top: -2px;
    right: -42px
}

#friend-connection .width-42p {
    width: 41%
}

#friend-connection .width-14p {
    width: 14%
}

#friend-connection .word-break {
    word-wrap: break-word
}

.ffcback {
    color: #f9994b !important;
    font-size: 14px !important
}

@media only screen and (max-width: 500px) {
    .valid {
        position: relative !important
    }

    #friend-connection .font-43, .get-ur-disc {
        font-size: 30px
    }

    .used-code, .used-code1 {
        font-size: 20px
    }
}

@media only screen and (max-width: 320px) {
    #friend-connection .width-42p {
        width: 100%
    }

    #friend-connection .width-14p {
        width: 100%
    }
}